books { 
	color: white; 
	background-color : rgb(0, 0, 0); 
	width: 100%; 
} 
heading { 
	color: green; 
	font-size : 40px; 
	/* background-color : powderblue;  */
} 
heading, book_title, author, publisher, edition, price { 
	display : block; 
} 
book_title { 
	font-size : 25px; 
	font-weight : bold; 
} 