breakfast_menu {
    background-color: #d61b1b;
    width: 100%;
}
food {
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
name {
    display: block;
    color: #ff0000;
    font-size: 20pt;
}
price {
    display: block;
    color: #0000ff;
    font-size: 20pt;
}
description, calories {
    display: block;
    color: #000000;
    margin-left: 20pt;
}